{{ define "itying/user/welcome.html" }}
{{ template "itying/public/page_header.html" .}}
{{ template "itying/public/middle_nav.html" .}}
<link rel="stylesheet" href="/static/itying/css/welcome.css" />

<!-- self_info -->
<div class="grzxbj">
    <div class="selfinfo center">
        <div class="lfnav fl">
            <div class="ddzx">用户中心</div>
            <div class="subddzx">
                {{ template "itying/user/user_left.html" .}}
            </div>
        </div>

        <div class="rtcont fr">
            <div class="portal-content-box">
                <div class="box-bd">
                    <div class="portal-main clearfix">
                        <div class="user-card">
                            <h2 class="username">Doctor. {{.phoneMask}}</h2>
                            <p class="tip">晚上好</p>
                            <a class="link" href="/user/info" target="_blank">修改个人信息 &gt;</a>
                            <img class="avatar" src="https://account.xiaomi.com/static/img/passport/photo.jpg"
                                width="150" height="150" alt="avatar">
                        </div>

                        <div class="user-actions">
                            <ul class="action-list">
                                <li>账户安全：<span class="level level-2">mmk晋升交谈1</span></li>
                                <li>绑定手机：<span class="tel">{{.phoneMask}}</span></li>

                                <li>绑定邮箱：<span class="tel"></span>
                                    <a class="btn btn-small btn-primary" href="#">绑定</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="portal-sub">
                        <ul class="info-list clearfix">
                            <li>
                                <h3>待支付的订单：<span class="num">{{.waitPayCount}}</span></h3>
                                <a href="/user/order?orderStatus=0">查看待支付订单</a>
                                <img src="//s01.mifile.cn/i/user/portal-icon-1.png" alt="">
                            </li>
                            <li>
                                <h3>待收货的订单：<span class="num">{{.waitReceiveCount}}</span></h3>
                                <a href="/user/order?orderStatus=3">查看待收货订单</a>
                                <img src="//s01.mifile.cn/i/user/portal-icon-2.png" alt="">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="clear"></div>
    </div>
</div>
<!-- self_info -->

{{ template "itying/public/page_footer.html" .}}
</body>
</html>
{{end}}